<<<<<<< HEAD
/* middle section with 3 pics */
.middle-section-wrapper {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  text-align: left;

  .first-text {
    padding: $margin-aside;
    order: 1;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    &__h2 {
      font-size: 1.8rem;
      color: $color-h;
      margin: 2rem 0 1rem;
    }

    &__p {
      font-size: 1.4rem;
    }
  }

  .img-galary {
    display: grid;
    grid-template:
      "img1 img2" auto
      "img3 img3" auto/1fr 1fr;
    grid-gap: 1.5rem;
    margin: 0 auto $margin-aside;
    order: 2;

    .img1 {
      width: $image-size;
      height: $image-size;
      object-position: left;
      grid-area: img1;
    }

    .img2 {
      width: $image-size;
      height: $image-size;
      grid-area: img2;
    }

    .img3 {
      width: calc(100vw - 2rem * 2);
      height: $image-size;
      grid-area: img3;
    }

    .img4 {
      display: none;
    }
  }

  .second-text-before-img {
    order: 3;
    padding: 4rem $margin-aside;
    background-color: $color-main-dark;
    display: grid;

    .content-wrapper {
      align-self: center;
      animation-name: moveInRight;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      &__h2 {
        font-size: 1.8rem;
        color: $color-main-orange;
        margin: 1rem 0;
      }

      &__p {
        font-size: 1.4rem;
        color: $color-main-white;
      }
    }
  }

  .second-bigimg-after-text {
    order: 4;
    .big-img {
      height: 100%;
    }
  }
}

@media (min-width: 700px) {
  .middle-section-wrapper {
    margin-top: 9rem;
    grid-template:
      "text1 pics1" 32vw
      "pics2 text2" 46.6vw/1fr 1fr;
    grid-row-gap: 9rem;

    .first-text {
      grid-area: text1;
      align-self: center;
      padding: 0 5vw;

      &__h2 {
        font-size: 2.4rem;
        color: $color-h;
        margin: 2rem 0 1rem;
      }

      &__p {
        font-size: 1.6rem;
      }
    }

    .img-galary {
      grid-area: pics1;
      display: grid;
      grid-template:
        "img1 img2 img4" auto
        "img3 img3 img4" auto/1fr 1fr 1fr;
      grid-gap: 1.5rem;
      margin-right: $margin-aside;

      img {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
      }
      .img1 {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        grid-area: img1;
      }

      .img2 {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        grid-area: img2;
      }

      .img3 {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        grid-area: img3;
      }

      .img4 {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        display: block;
        grid-area: img4;
      }
    }

    .second-text-before-img {
      margin-left: -5rem;
      z-index: 100;
      grid-area: text2;

      &__h2 {
        font-size: 1.8rem;
        color: $color-main-orange;
        margin: 1rem 0;
      }

      &__p {
        font-size: 1.4rem;
        color: $color-main-white;
      }
    }

    .second-bigimg-after-text {
      height: 100%;
      grid-area: pics2;
    }
  }
}
=======
/* middle section with 3 pics */
.middle-section-wrapper {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  text-align: left;

  .first-text {
    padding: $margin-aside;
    order: 1;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    &__h2 {
      font-size: 1.8rem;
      color: $color-h;
      margin: 2rem 0 1rem;
    }

    &__p {
      font-size: 1.4rem;
    }
  }

  .img-galary {
    display: grid;
    grid-template:
      "img1 img2" auto
      "img3 img3" auto/1fr 1fr;
    grid-gap: 1.5rem;
    margin: 0 auto $margin-aside;
    order: 2;

    .img1 {
      width: $image-size;
      height: $image-size;
      object-position: left;
      grid-area: img1;
    }

    .img2 {
      width: $image-size;
      height: $image-size;
      grid-area: img2;
    }

    .img3 {
      width: calc(100vw - 2rem * 2);
      height: $image-size;
      grid-area: img3;
    }

    .img4 {
      display: none;
    }
  }

  .second-text-before-img {
    order: 3;
    padding: 4rem $margin-aside;
    background-color: $color-main-dark;
    display: grid;

    .content-wrapper {
      align-self: center;
      animation-name: moveInRight;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      &__h2 {
        font-size: 1.8rem;
        color: $color-main-orange;
        margin: 1rem 0;
      }

      &__p {
        font-size: 1.4rem;
        color: $color-main-white;
      }
    }
  }

  .second-bigimg-after-text {
    order: 4;
    .big-img {
      height: 100%;
    }
  }
}

@media (min-width: 700px) {
  .middle-section-wrapper {
    margin-top: 9rem;
    grid-template:
      "text1 pics1" 32vw
      "pics2 text2" 46.6vw/1fr 1fr;
    grid-row-gap: 9rem;

    .first-text {
      grid-area: text1;
      align-self: center;
      padding: 0 5vw;

      &__h2 {
        font-size: 2.4rem;
        color: $color-h;
        margin: 2rem 0 1rem;
      }

      &__p {
        font-size: 1.6rem;
      }
    }

    .img-galary {
      grid-area: pics1;
      display: grid;
      grid-template:
        "img1 img2 img4" auto
        "img3 img3 img4" auto/1fr 1fr 1fr;
      grid-gap: 1.5rem;
      margin-right: $margin-aside;

      img {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
      }
      .img1 {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        grid-area: img1;
      }

      .img2 {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        grid-area: img2;
      }

      .img3 {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        grid-area: img3;
      }

      .img4 {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        display: block;
        grid-area: img4;
      }
    }

    .second-text-before-img {
      margin-left: -5rem;
      z-index: 100;
      grid-area: text2;

      &__h2 {
        font-size: 1.8rem;
        color: $color-main-orange;
        margin: 1rem 0;
      }

      &__p {
        font-size: 1.4rem;
        color: $color-main-white;
      }
    }

    .second-bigimg-after-text {
      height: 100%;
      grid-area: pics2;
    }
  }
}
>>>>>>> edited readme
